<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>Qt Jambi Demos</string>
	<key>CFBundleVersion</key>
	<string>100.0</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>logo.icns</string>
	<key>Java</key>
	<dict>
		<key>MainClass</key>
		<string>org.qtjambi.launcher.Launcher</string>
		<key>StartOnMainThread</key><true/>
		<key>JVMVersion</key>
		<string>1.5*</string>
		<key>ClassPath</key>
			<array>
			<string>qtjambi-4.5.2_01.jar</string>
			<string>qtjambi-examples-4.5.2_01.jar</string>
			<string>qtjambi-macosx-gcc-4.5.2_01.jar</string>
			</array>
	</dict>
</dict>
</plist>
